
<div class="b-index">
    <div class="index-header">
        <div class="index-header-middle">
            <p>守信企业搜索</p>
            <form class="search-form">
                <div class="input-group">
                    <input type="text" class="search-key  ui-autocomplete-input" placeholder="请输入企业名称搜索企业" autocomplete="off"/>
                    <a href="javascript:void(0)" class="search-btn">查一查</a>
                </div>
            </form>
        </div>
    </div>
    <div class="bg-fff">
        <div class="index-item">
            <img src="_IMAGES_index-img2_03.jpg">
            <a class="check-detail baike-detail-btn" href="javascript:;">查看详情</a>
        </div>
    </div>
    <div class="index-item">
        <img src="_IMAGES_index-img3_03.jpg">
        <a class="check-detail business-detail-btn" href="javascript:;">查看详情</a>
    </div>
    <div class="bg-fff">
        <div class="index-item">
            <img src="_IMAGES_index-img4_04.jpg">
            <a class="check-detail archives-detail-btn" href="javascript:;">查看详情</a>
        </div>
    </div>
    <div class="index-item" id="aboutUs">
        <img src="_IMAGES_index-img5_05.jpg">
    </div>
</div>
<div class="msgtip">请输入更加精准的关键字查询</div>