<div class="tologin-wrapper">
    <div class="tologin-center">
        <div class="tologin-box">
            <div class="form-box password-login">
                <form class="login-form">
                    <div class="tologin-tittle">账号登录</div>
                    <div class="tologin-input-box">
                        <div class="tologin-input">
                            <input name="name" id="login_username" class="tologin-input1" type="text" placeholder="手机号/邮箱">
                        </div>
                        <div class="error-hint-box"></div>
                    </div>
                    <div class="tologin-input-box">
                        <div class="tologin-input">
                            <input name="password" id="login_password" class="tologin-input1" type="password" placeholder="密码">
                        </div>
                    </div>
                    <div class="tologin-input-box clearfloat input-count-limit" style="position: relative">
                        <div class="error-hint-box"></div>
                        <div class="limit-input other-left">
                            <input name="prove-code" id="prove_code" type="text" placeholder="验证码" style="color:#444;">
                        </div>
                        <!--<div class="limit-code other-left">-->
                            <!--<img class="code-refresh" src="/checkcode?type=shuidi_pclogin" alt="图片" style="cursor: pointer;">-->
                        <!--</div>-->
                    </div>
                    <div class="error-hint-box">
                        <div class="error-hint">
                            <i class="icon">×</i>
                            <span class="error-msg" id="proveCodeErrorInfo" for="prove_code">请输入正确的手机验证码</span>
                        </div>
                    </div>
                    <div>
                        <button class="btn" type="submit" style="cursor:pointer;">
                            <strong>立即登录</strong>
                        </button>
                    </div>
                    <div class="register-or-find-password">
                        <div class="now-register">
                            <a href="javascript:;">立即注册</a>
                        </div>
                        <div class="find-password">
                            <a href="javascript:;">忘记密码?</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="other-tologin-way">
                <span></span>
                <p>第三方账户登录</p>
                <span></span>
            </div>
            <div class="other-tologin-link" style="padding:0 75px 0;">
                <a href="javascript:;" class="sina"></a>
                <a href="javascript:;" class="qq"></a>
                <a href="javascript:;" class="wei-xin"></a>
            </div>

        </div>
    </div>
</div>
<div class="bottom-conent-msg-box">
    <div class="bottom-conent-msg">
        <p>联合运营单位
            <img src="_IMAGES_360-logo.png">
            <img src="_IMAGES_xy-logo.png">
        </p>
    </div>
</div>
