<!-- footer -->
<div class="sd_index_footer">
    <div class="sd_company_container">
        <div class="sd_index_foot_second">
            <div class="sd_index_foot_s1">
                <h4>水滴信用</h4>
                <div>
                    <a href="javascript:;">关于我们</a>
                    <a href="javascript:;">隐私协议</a>
                    <a href="javascript:;">帮助中心</a>
                    <a href="javascript:;" class="zhaomu">渠道招募<i></i></a>
                    <a href="javascript:;">每周推荐</a>
                    <a href="javascript:;">精选公司</a>
                    <a href="javascript:;">企业可信百科</a>
                </div>
            </div>
            <div class="sd_index_foot_s2">
                <h4>联系我们</h4>
                <p class="sd_p2">3223469629</p>
                <p class="sd_p3">shuidi@pingansec.com</p>
            </div>
            <div class="sd_index_foot_s3">
                <h4>数据来源</h4>
                <div >
                    <span><a href="javascript:;" target="_blank">全国企业信用信息公示系统</a></span>
                    <span><a href="javascript:;" target="_blank">国家知识产权局</a></span>
                    <span><a href="javascript:;" target="_blank">中国执行信息公开网</a></span>
                    <span><a href="javascript:;" target="_blank">版权局</a></span>
                    <span><a href="javascript:;" target="_blank">外贸邦</a></span>
                    </br>
                    <span><a href="javascript:;" target="_blank">中国招标网</a></span>
                </div>
            </div>
        </div>
        <div class="sd_index_foot_copy">
            <p>Copyright © 2015 水滴信用网shuidixy.com 保留所有权利  沪ICP备12039960号</p>
        </div>
    </div>
</div>