<div class="nav">
    <div class="container">
        <a href="javascript:;"><img src="_IMAGES_detail_logo_top.png"/></a>
        <div class="link-box">
            <a href="javascript:;" class="home-page-link">首页</a>
            <div class="triangle-box"><a href="javascript:;">数据服务</a>
                <ul class="pull-down-two">
                    <li><a href="javascript:;" target="_blank">反欺诈服务</a></li>
                </ul>
            </div>
            <a href="javascript:;" class="shuidi-app-btn">下载APP</a>
            <a href="javascript:;">水滴信用企业版</a>
        </div>
        <div class="search top_search">
            <form id="topSearchForm">
                <input class="search-key" type="text" placeholder="请输入企业名、产品名、注册号、法人、高管等查询" />
                <i class="search-btn"></i>
            </form>
        </div>

        <div class="userinfo" style="display: none">
            <div class="user-name">hi,name</div>
            <i class="icon-turn"></i>
            <i class="icon-msg"></i>
            <i class="icon-tip"></i>
            <ul class="btns hide">
                <li><a href="javascript:;">我的水滴</a></li>
                <li><a href="javascript:;">我的关注</a></li>
                <li><a href="javascript:;">我的通知<i class="icon-tip icon-tip-pos"></i></a></li>
                <li><a href="javascript:;">账户余额</a></li>
                <li><a href="javascript:;">账户设置</a></li>
                <li class="logout"><a href="javascript:void(0)">退出登录</a></li>
            </ul>
        </div>

        <div class="userinfo-nologin">
            <a class="login-btn" href="/login">登录</a>
            <a class="regist-btn" href="/register">注册</a>
        </div>


    </div>
</div>